.user-signup-form, .user-signin-form {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  animation: fadeIn 1s ease-in-out;
  width: 100%;
  max-width: 400px;
  text-align: center;
  margin: 50px auto; /* Center the form with top margin */
}

.user-signup-form>h2, .user-signin-form>h2 {
  margin-bottom: 20px;
}

label {
  display: block;
  text-align: left;
  margin: 10px 0 5px;
}

input[type="text"], input[type="email"], input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 20px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="submit"] {
  background: #4CAF50;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  transition: background 0.3s;
}

input[type="submit"]:hover {
  background: #45a049;
}

.para-2>a,.para-1>a {
  color: #4CAF50;
  text-decoration: none;
}

.para-2>a:hover,.para-1>a:hover {
  text-decoration: underline;
}

.para-2 {
  margin-top: 20px;
}

.navbar-link {
  font-weight: bold;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: scale(0.9);
  }
  to {
      opacity: 1;
      transform: scale(1);
  }
}
