.Ufooter {
  
  
  background-color: black;
  color: white;
  text-align: center;
  padding: 30px 0;

}

.Ufooter-con {
  margin-bottom: 20px;
}

.Ufooter-con>ul {
  list-style-type: none;
  padding: 0;
}

.Ufooter-con>ul>li {
  display: inline-block;
  margin-right: 20px;
  font-size: 16px;
}

.Ufooter-middle {
  margin-bottom: 20px;
}

.Ufooter-middle-header>h2 {
  font-weight: 300;
}

.Ufooter-socialmedia {
  margin-bottom: 20px;
}

.Ufooter-socialmedia>a {
  color: white;
  font-size: 24px;
  margin: 0 10px;
}

.Ufooter-lower>ul {
  list-style-type: none;
  padding: 0;
}

.Ufooter-lower>ul>li {
  display: inline-block;
  margin-right: 20px;
}

.Ufooter-lower-navlink {
  color: #4caf50;
  text-decoration: none;
}

.Ufooter-lower-navlink:hover {
  text-decoration: underline;
  color: rgb(90, 212, 212);
}
