
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
  
  }
  .popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    max-width: 100%;
    text-align: center;
  }
  
  .popup-content h2 {
    margin-bottom: 20px;
  }
  
  .popup-content form {
    display: flex;
    flex-direction: column;
  }
  
  .popup-content label {
    margin-bottom: 10px;
  }
  
  .popup-content button {
    margin-top: 10px;
  }
  
  .close-button {
    background-color: #FF6347;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }