
  
 body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
   
  }
  
  .mySwiper-home {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide-home {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide-background> img {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    padding-top: 60px;
  }
  
  .mySwiper-home {
    margin-left: auto;
    margin-right: auto;
  }
  