

/* .add-room-form {
    background: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
  }
  
  .add-room-form>div {
    margin-bottom: 10px;
  }
  
  .add-room-form>label {
    display: block;
  } */

  .Arooms{
    padding-left: 200px;
  }
  