.add-room-form {
    background: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
  }
  
  .add-room-form>div {
    margin-bottom: 10px;
  }
  
  .add-room-form>label {
    display: block;
  }
  .Arooms>ul>li{
    color: black;
    display: flex;
    gap: 30px;
  }
  